body{
	display: flex;
	height: 100vh;
	width: 100vh;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
}

.background{
	display: flex;
	flex-wrap: wrap;

	width: 100%vh;



}
.time{
	display: flex;
	flex-wrap: wrap;
}