body {
	margin: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: url('https://source.unsplash.com/random/1920x1080/?modern.') center/cover no-repeat;

}


#clock{

	text-align: center;
	color: white;
	font-size: 2em;
	z-index: 1;
}

#greeting {
	font-size: 1.5em;
	text-align: center;
	margin-top: 10px;
	cursor: pointer;
	color: white;

}

#nameInput {
	display: flex;
	font-size: 1.5em;
	text-align: center;
	border: none;
	background: none;
	color: white;
}

#quote {
	font-size: 1em;
	color:white;
	text-align: center;
	margin-top: top;
	margin-bottom: 1px;
}